fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
pydantic==1.10.12
python-dateutil==2.8.2
pdfminer.six==20221105
setuptools>=68.0.0
wheel>=0.40.0
nltk==3.8.1
Jinja2==3.1.2
spacy==2.3.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
